.select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-radius: 12px;
  background-color: #f7f7f7;
  width: 204px;
  height: 44px;
  border: none;
}

.placeholder {
  font-weight: 500;
  color: #101828;
}

.openArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
}

.listWrapper {
  padding: 14px 20px 14px 0;
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  width: 100%;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #f7f7f7;
  border-radius: 12px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.02);
  max-height: 272px;
  overflow: hidden;
  font-weight: 500;
  line-height: 1.25;
  transition: opacity 100ms ease-in, visibility 100ms ease-in;
}

.listWrapper.priceHeight {
  max-height: 188px;
}

.optionsList {
  color: #8d929a;
  overflow-y: scroll;
  max-height: 244px;
}

.optionsList::-webkit-scrollbar {
  width: 8px;
}

.optionsList::-webkit-scrollbar-thumb {
  background: #dadde1;
  border-radius: 10px;
  height: 128px;
}

.priceHeight .optionsList::-webkit-scrollbar-thumb {
  height: 64px;
}

.priceHeight .optionsList {
  max-height: 160px;
}

.option {
  padding-left: 18px;
  transition: color 100ms ease-in;
}

.option:hover {
  color: #101828;
}

.option:not(:last-child) {
  padding-bottom: 8px;
}

.visible {
  opacity: 1;
  visibility: visible;
}
