.buttonLink {
  display: inline-flex;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  width: 276px;
  height: 44px;
  font-weight: 600;
  line-height: 1.25;
  background-color: #3470ff;
  transition: background-color 100ms ease-in;
}

.buttonLink:hover {
  background-color: #0b44cd;
}
